.login-panel {
  margin: 5px auto 0 auto;
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 4px;

  h4 {
    text-align: center;
    margin-top: 10px;
  }

  form {
    margin-top: 30px;

    button {
      width: 100%;
    }
  }
}

.centered {
  text-align: center;
}
