$columns: 7;
$rows: 6;
$gutter: 1px;

@function gutterOffset($gutterSize, $colCount) {
  @return #{$gutterSize} - #{$gutterSize} / #{$colCount};
}

@mixin cellWidth($span, $colCount, $gutterSize) {
  $gutterOffset: gutterOffset($gutterSize, $colCount);
  width: (calc(99.99% * #{$span} / #{$colCount} - (#{$gutterOffset})));
}

@mixin cellHeight($span, $rowCount, $gutterSize) {
  $gutterOffset: gutterOffset($gutterSize, $rowCount);
  height: (calc(99.99% * #{$span} / #{$rowCount} - (#{$gutterOffset})));
}

@mixin cellStart($pos, $colCount, $gutterSize) {
  $gutterOffset: gutterOffset($gutterSize, $colCount);
  left: (calc(99.99% * #{$pos - 1} / #{$colCount} - (#{$gutterOffset})));
}

@for $i from 1 through $columns {
  .span-#{$i} {
    position: absolute;
    top: 0;
    @include cellWidth($i, $columns, $gutter);
  }

  .start-#{$i} {
    @include cellStart($i, $columns, $gutter);
  }
}

