.weeks {
  cursor: default;
  font-size: 12px;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  overflow: hidden;
}

.handle {
  position: absolute;
  top: 50px;
  left: 50px;
  background: orange;
  padding: 10px;
  pointer-events: all;
}
